@forward 'element-plus/theme-chalk/src/mixins/config.scss' with (
  $namespace: 'ep'
);

body {
  font-family: Inter, system-ui, Avenir, 'Helvetica Neue', Helvetica, Arial, sans-serif;
  margin: 15px;
}
